.buttonContainer {
  display: flex;
  padding: 15px 0;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  opacity: 0;
  animation: fadeIn 1s forwards;
}
.optionButton {
  flex: 1 1 auto;
  /* margin: 10px 7px 0px 0px; */
  margin: 0px 0 10px 7px;
  padding: 7px 15px;
  background-color: white;
  border: 1px solid #e4e7ec;
  cursor: pointer;
  border-radius: 7px;
  font-weight: 500;
  font-size: var(--f2);
  transition: border-color 0.1s;
  color: #667085;

}

.selected {
  border: 1.4px solid var(--primary-color);
  /* border: 2px solid #6200ff; */
  /* background-color: var(--secondary-color); */
  color: var(--primary-color);
}


.inputContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  margin: 0 0 15px;
}
.inputContainer input[type="text"] {
  flex: 1 1 auto;
  min-width: 30px;
  max-width: 250px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1.6px solid #e0e0e0;
  margin-bottom: 10px;
  font-size: var(--f2);
  font-weight: 500;
}

.inputContainer button {
  flex: 0 0 auto;
  background-color: #fff;
  color: var(--primary-color);
  min-width: 70px;
  border: 1.5px solid var(--primary-color);
  padding: 7px 15px;
  font-weight: 500;
  margin: 0px 0 10px 10px;
  border-radius: 7px;
  cursor: pointer;
  font-size: var(--f2);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inputContainer button:hover {
  background-color: #6100FF;
  color: #fff;
}

.continuecontainer{
  width: 100%;
  text-align: left;
}

.continuecontainer button{

  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: var(--f2);
  cursor: pointer;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

