.container {
    /* height: 100vh; */
    width: 100%;
    max-width: 850px;
    /* background-color: aqua; */
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
  }
  .btn{
    z-index: 1;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .modal{
    height: 75vh;
  }
  .ant-input-search-button {
    background-color:  #6100ff8c; /* Button background color */
    color: white;              /* Button text/icon color */
    border-color: #6100ff8c;
  }