.container {
    /* height: 100vh; */
    width: 100%;
    max-width: 850px;
    /* background-color: aqua; */
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
}
.btn {
    z-index: 10000;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.modal {
    height: 58vh;
}

/* DashPage */

.conTitle {
    padding: 20px 0;
}
.modules {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid #000; */
    gap: 20px 10px;
}
.module {
    width: calc(50% - 10px);
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    border-left: 5px solid #6100ff;
    transition: transform 0.15s ease-in-out;
    display: flex;
    align-items: center;
    gap: 20px;
}

.module img {
    width: 70px;
}
.module_title {
    font-size: 1.2rem;
    font-weight: 500;
}

.module:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/* Careers */
.topCareers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.topCareers img {
    max-width: 400px;
    width: 100%;
    max-height: 285px;
    background-color: #fff;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
}
.careers {
    width: 100%;
}
.career {
    background-color: #fefefe;
    padding: 10px 20px;
    align-content: center;
    margin: 0 0 15px;
    border-radius: 5px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.career p {
    margin: 0;
}
.a {
    border-left: #ff00ef 4px solid;
}

.b {
    border-left: #00c2ff 4px solid;
}

.c {
    border-left: #5dd450 4px solid;
}

.d {
    border-left: #ff9100 4px solid;
}

.e {
    border-left: #ff3700 4px solid;
}

/* Progess */

.progress {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        padding: 30px;
        border-radius: 10px;
        background-color: #fff;
        margin: 0px 0 20px;
}

.progress h5 {
  margin: 0px 0 20px;
}

@media (max-width: 600px) {
    .module {
        width: 100%;
    }
    .module img {
        width: 60px;
    }
    .career {
        max-width: 100%;
    }
    .topCareers {
        flex-direction: column;
        align-items: center;
    }
    .topCareers img {
        max-width: 100%;
    }
}
